nav 
{
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}
@font-face 
{
    font-family: StretchPro;
    src: url("../image/StretchPro.otf");
}
#instagram
{
    margin-right: 10px;
    font-family: StretchPro;
    font-size: 20px;

}
body
{

    background-image: url("../image/dubBackground.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
#dub
{
    width: 300px;
}
#dub:hover
{
    transform: scale(1.1);
}
#text 
{
    display: grid;
    place-items: center;
    font-family: StretchPro;
    font-size: 30px;
    display: block;
    margin-left: auto;
    text-align: center;
    align-content: center;
}
