nav 
{
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}
@font-face 
{
    font-family: StretchPro;
    src: url("../image/StretchPro.otf");
}
#instagram
{
    margin-right: 10px;
    font-family: StretchPro;
    font-size: 20px;

}
body
{

    background-image: url("../image/dubBackground.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
#flyer
{
    display: grid;
    border: 10px solid #FFB163;
    box-shadow: 3px 3px 3px black;
    font-family: StretchPro;
    font-size: 20px;
    justify-content: center;
    align-self: center;
    margin-top: 200px;
    margin-right: 25%;
    margin-left: 25%;
    text-align: center;
}
